{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
{% endblock %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="content">
    <div class="top">
        <div class="top-bien">
            {% for bien in lstBien %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ asset('uploads/images/') }}{{ bien.image }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ bien.titre }}</h5>
                    <p class="card-text">{{ bien.description }}</p>
                    <p class="card-text">
                    {{ bien.prix }} €,
                    {% if bien.estVente == true %}
                    Vente
                    {% else %}
                        Location
                    {% endif %}
                    </p>
                    <p class="card-text">{{ bien.cp }}, {{ bien.ville }}</p>
                    <a href="/contact" class="form-control sumbit-form">Nous contacter</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="top-categorie">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Catégorie: </h5>
                    <ul class="list-group">
                    {% for categorie in lstCat %}
                        <li class="list-group-item">
                            <a href="#" class="card-text lst-link">{{ categorie.type }}</a>
                        </li>                      
                    {% endfor %}
                    </ul>
                    <a href="#" class="form-control sumbit-form">Toute les annonces</a>
                </div>
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <div class="description">
        <h1>Présentation</h1>
        <p>
            Une Safer (Société d’aménagement foncier et d’établissement rural) est une société anonyme, sans but lucratif (sans distribution de bénéfices), avec des missions d’intérêt général, sous tutelle des ministères de l’Agriculture et des Finances. Les Safer couvrent le territoire français métropolitain et 3 DOM. Issues des lois d’orientation agricole de 1960 et 1962, les Safer ont aujourd’hui plus de cinquante ans d’expérience sur le terrain.
            Leurs actions relèvent des tribunaux judiciaires (tribunaux de grandes instances, cours d’appel et Cour de cassation).
        </p>
        <p>
            Les Sociétés d’aménagement foncier et d’établissement rural (Safer) permettent à tout porteur de projet viable – qu’il soit agricole, artisanal, de service, résidentiel ou environnemental – de s’installer en milieu rural. Les projets doivent être en cohérence avec les politiques locales et répondre à l’intérêt général
        </p>
    </div>
</div>
{% endblock %}
