{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="content">
    <div class="top-page">
        {% for bien in lstBien %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ bien.titre }}</h5>
                    <p class="card-text">{{ bien.description }}</p>
                    <p class="card-text">
                    {{ bien.prix }} €,
                    {% if bien.estVente == true %}
                        Vente
                    {% else %}
                        Location
                    {% endif %}
                    </p>
                    <p class="card-text">{{ bien.cp }}, {{ bien.ville }}</p>
                    <a href="#" class="form-control sumbit-form">Plus de détail</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="separator"></div>
    <div class="description">
        <h1>Présentation</h1>
        <p>La Société d’aménagement foncier et d’établissement rural (Safer) permet à tout porteur de projet viable –
qu’il soit agricole, artisanal, de service, résidentiel ou environnemental – de s’installer en milieu rural.
Elle propose donc un certain nombre de biens agricoles à la vente ou à la location à l'intention des porteurs
de projets.<p>
    </div>
</div>
{% endblock %}
