{% extends 'base.html.twig' %}

{% block body%}
    <div class="formulaire">
    {{form_start(formView)}}
    {{form_errors(formView)}}
    <table>
        <thead>
            <tr>
                <th colspan=2>{{action}} Bien</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan=2>{{form_row(formView.titre)}}</td>
            </tr>
            <tr>
                <td colspan=1>{{form_row(formView.prix)}}</td>
                <td colspan=1>{{form_row(formView.surface)}}</td>
            </tr>
            <tr>
                <td colspan=2>{{form_row(formView.description)}}</td>
            </tr>
            <tr>
                <td>{{form_row(formView.ville)}}</td>
                <td>{{form_row(formView.cp)}}</td>
            </tr>
            <tr>
                <td colspan=1>{{form_row(formView.categorie)}}</td>
                <td colspan=1>{{form_row(formView.estVente)}}</td>
            </tr>
            <tr>
                <td colspan=2>{{form_row(formView.add)}}</td>
            </tr>
            </tbody>
        </table>
        {{form_widget(formView)}}
        {{form_end(formView)}}
    </div>
{% endblock %}